<html>

<title>

</title>
<body> 
    <h1>
        Pokemon Cards API Directory
    </h1>
    <h3>Command List</h3>

    <a href="/directory/pokemon_id">Search for a pokemon card by pokemon id</a>
    <br>
    <br>

    <a href="/directory/pokemon_name">Search for a pokemon card by pokemon name</a>
    <br>
    <br>
    <a href="/directory/pokemon_rarity">Search for a pokemon card by rarity</a>
    <br>
    <br>
    <a href="/directory/pokemon_price">Search for a pokemon card by price</a>
    <br><br>
    <a href="/search_by_type">Search for a pokemon card by type</a>
    <br>
    <br>
    <a href="/purchase_page">Purchase a pokemon card</a>
    <br><br>
    <a href="/user_purchases">View User Purchases</a>




</body>
</html>